<div class="all-content">
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie rhoncus eleifend. Donec rutrum elit pharetra libero volutpat imperdiet. Morbi non purus vitae elit consequat pretium a ut libero. Praesent placerat eros urna, ut egestas lectus egestas in. Aenean lacinia semper neque, a congue enim volutpat non. Aenean nec consequat nibh, dapibus fermentum odio. Duis arcu nisi, sodales vel imperdiet at, euismod a tortor. Mauris gravida, odio ullamcorper vestibulum sodales, velit risus faucibus mi, at ultricies nulla orci et neque. Nam in lorem volutpat ligula tempus tristique. Curabitur eu dolor eget quam tempor aliquam quis at metus. Mauris vel sem eu quam volutpat aliquam.

  Suspendisse congue ullamcorper efficitur. Aliquam orci ex, tristique id lobortis at, suscipit quis felis. Maecenas malesuada finibus est at sollicitudin. Proin dapibus pulvinar felis non efficitur. Cras scelerisque mauris arcu, ut posuere metus luctus molestie. Maecenas commodo quam turpis, ac tristique ipsum ullamcorper aliquam. In metus turpis, sodales in ipsum non, auctor feugiat eros.

  Cras et ligula ac massa condimentum posuere sit amet eleifend purus. In hac habitasse platea dictumst. Mauris ultricies congue tortor, et ultricies lacus. Nunc ac dignissim urna, feugiat tincidunt tellus. Suspendisse posuere in mi non pulvinar. Aliquam elementum dapibus enim sit amet tempus. Donec sapien risus, aliquet at metus in, vestibulum tempus tortor. Quisque quis sollicitudin arcu. Sed finibus blandit sapien nec aliquam. Sed sit amet maximus augue. Quisque tristique semper mi, sit amet commodo ipsum. Duis lobortis pulvinar fermentum. Aliquam erat volutpat. Duis volutpat vitae sem facilisis vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi justo sem, lobortis id fermentum quis, viverra sit amet enim.

  Proin vel neque placerat, pharetra est a, convallis urna. Fusce posuere eget diam et eleifend. Morbi gravida metus nec dui porta, ut suscipit nisi rhoncus. Aliquam mi enim, convallis consectetur vulputate sit amet, gravida quis ante. Morbi posuere porta tellus id efficitur. Etiam massa ex, molestie ut posuere et, molestie sollicitudin justo. Phasellus accumsan augue consequat, pharetra urna in, faucibus augue. In lobortis mattis nisi sit amet elementum. Nam nec vehicula ex. Mauris lacinia varius arcu eu accumsan. Pellentesque facilisis turpis nec interdum ullamcorper.

  Aenean quam nisl, ullamcorper feugiat tortor in, pretium aliquet sapien. Mauris convallis ex non fermentum blandit. Integer porta elit massa, nec commodo dolor luctus non. Mauris in urna id lectus mattis porta id pretium lacus. Ut tincidunt pharetra felis. Duis et convallis sapien, sit amet pretium metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse mauris massa, tempor pellentesque nisi blandit, tempor sagittis velit. Pellentesque lectus felis, bibendum sed enim at, volutpat lobortis diam. Integer mauris purus, vestibulum vel sodales eu, tristique id sapien.
  </div>


    <div class="footer effect thurio">
      <div class="buttons">
        <a href="#" class="fb" title="Join us on Facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="tw" title="Join us on Twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="pinterest" title="Join us on Pinterest"><i class="fa-brands fa-pinterest"></i></a>
        <a href="#" class="insta" title="Join us on Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="in" title="Join us on Linked In"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
</div>

