<form [formGroup]="loginForm" novalidate class="font">
  <h1  style="font-weight: bold">Registrarse</h1>
  <div  class="alert alert-warning" role="alert">
    Debes registrarte para que se habiliten las pruebas
  </div>
  <div class="user_data">

    <!-- <input formControlName="user" class="form-control" type="text" class="data_user" required> -->
    <label class="form-label">Usuario: </label>
    <div class="input-group flex-nowrap">

      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user"></i></span>
      <input type="text" class="form-control" formControlName="user" placeholder="Digite su usuario" aria-label="Username" aria-describedby="addon-wrapping" required>
    </div>
  </div>

  <div class="email_data">
    <label class="form-label" >Correo: </label>
    <div class="input-group flex-nowrap">

      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope"></i></span>
      <input type="email" class="form-control" formControlName="email" placeholder="Digite su correo" aria-label="Email" aria-describedby="addon-wrapping" required>
    </div>
    <br>
    <div class="messages" *ngIf="emailField?.touched && emailField?.invalid" [class.active]="emailField?.touched && emailField?.invalid">
      <p>
        <strong *ngIf="emailField?.hasError('email')">
          Por favor ingresar un email valido
        </strong>
      </p>
    </div>
    <!-- <input formControlName="email" class="form-control" type="text" class="data_email" required> -->
  </div>
  <button type="button" [disabled]="!loginForm.valid" [class.inactive--green]="!loginForm.valid" [class.css-button-arrow--green]= 'loginForm.valid' routerLink="/pruebas" (click)="submit()">Registrarme</button>
  <div>
  <!-- <button *ngIf="usuario" type="button" class="btn btn-secondary" (click)="rtnLogin()" >Volver</button> -->
  <!-- <button *ngIf="usuario" type="button" [disabled]="userField?.hasError('required')" [class.inactive--green]="userField?.hasError('required')" [class.css-button-arrow--green]= "!userField?.hasError('required')" routerLink="/pruebas" (click)="submit()">Ingresar</button> -->

  </div>
  <br>
  <p>Si ya estas registrado <a routerLink="/login">haz click aqui</a></p>


</form>
